* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a, span {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: slategrey; /*#ddd;*/
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

.header h2{
    font-size: 4em;
    text-align: center;
    color: aqua;
    text-shadow: 2px 1px teal;
    padding-left: 10%;

}
.header img {
    width: 17%;
    height: 18%;
    float: left;
    flex: 1;
}

.column {
    flex: 1;
    padding: 10px;
    height: 200px;
}
.column h2 {
    box-shadow: 1px 1px 1px 1px #ddd;
}


.Hpage {
    border-width: medium;
    flex: 2;
    margin-left: 10px;
    margin-top: 4px;
    padding: 1%;
    background-image: url("kodi_wallpaper.jpg");
}
.Hpage h3 {
    text-align: center;
    color: goldenrod;
    text-shadow: 1px .5px gainsboro;
    font-size: 1.7em;
    margin-top: .5%;

}
.Hpage p {
    text-align: center;
    font-size: 13px;
    color: lightcoral;
}



/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 80%;
}


.footer img{
    flex: 100%;
    max-width: 100%;
    padding-left: 90%;
    border-radius: 50%;
    opacity: 0.5;
}
